<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" href="/img/21232125_159822007929751_7027399478433807117_n.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <title> Chuteiras JM </title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
        
    <main>
        <div id="sub_header">
            
        </div>
        <section id="card_details">
            <% cleats.forEach(element => { %>
                <a href="/details/<%= element.id %>">
                <article class="cards">
                    <div class="cards_img">
                        <img src="<%= element.link_img %>" alt="<%= element.model_name %>">
                    </div>
                    <div class="cards_name">
                        <%= element.model_name %>
                    </div>
                </article>
                </a>
                <div class="btn_conteiner">
                <a href="/delete/ <%= element.id %>"><i class="fa-solid fa-trash-can"></i></a>
                <a href="/edit/ <%= element.id %> "><i class="fa-solid fa-pen"></i></a>
                </div>
           <% }) %>         

        </section>

    </main>
        
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>