<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/9e350f0727.js" crossorigin="anonymous"></script>
    <title> Triunfo Store </title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
        
    <main>

        <section id="card_conteiner">
            <% cleats.forEach(element => { %>
                <a href="/details/<%= element.id %>">
                <article class="cards">
                    <div class="cards_img">
                        <img src="<%= element.link_img %>" alt="<%= element.model_name %>">
                    </div>
                    <div class="cards_name">
                        <%= element.model_name %>
                    </div>
                </article>
                </a>
           <% }) %>         

        </section>

    </main>
        
    <%- include('./partials/footer.ejs') %>
</body>
</html>